.p-0 {
    padding: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-168 {
    padding-left: 168px !important;
}

.pl-295 {
    padding-left: 295px !important;
}

.pl-442 {
    padding-left: 442px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.pl-470 {
    padding-left: 470px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-56 {
    padding-left: 56px !important;
}

.pl-113 {
    padding-left: 113px !important;
}

.pl-117 {
    padding-left: 117px !important;
}

.pl-130 {
    padding-left: 130px !important;
}

.pl-150 {
    padding-left: 150px !important;
}

.pl-178 {
    padding-left: 178px !important;
}

.pl-202 {
    padding-left: 202px !important;
}

.pl-312 {
    padding-left: 312px !important;
}

.pl-710 {
    padding-left: 710px !important;
}

.pl_5 {
    padding-left: -5px !important;
}

.pl_10 {
    padding-left: -10px !important;
}

.pl_15 {
    padding-left: -15px !important;
}

.pl_20 {
    padding-left: -20px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-3 {
    padding-top: 3px !important;
}

.pt-2 {
    padding-top: 2px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-161 {
    padding-top: 161px !important;
}

.pt-242 {
    padding-top: 242px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}


.m-0 {
    margin: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.ml-120 {
    margin-left: 120px !important;
}

.ml-140 {
    margin-left: 140px !important;
}

.ml-113 {
    margin-left: 113px !important;
}

.ml-196 {
    margin-left: 196px !important;
}

.ml-152 {
    margin-left: 152px !important;
}

.ml-165 {
    margin-left: 165px !important;
}

.ml-150 {
    margin-left: 150px !important;
}

.ml-155 {
    margin-left: 155px !important;
}

.ml-145 {
    margin-left: 145px !important;
}

.ml-13 {
    margin-left: 13px !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-26 {
    margin-left: 26px !important;
}

.ml-27 {
    margin-left: 27px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-31 {
    margin-left: 31px !important;
}

.ml-41 {
    margin-left: 41px !important;
}

.ml-65 {
    margin-left: 65px !important;
}

.ml-52 {
    margin-left: 52px !important;
}

.ml-53 {
    margin-left: 53px !important;
}

.ml-54 {
    margin-left: 54px !important;
}

.ml-93 {
    margin-left: 93px !important;
}

.ml-130 {
    margin-left: 130px !important;
}

.ml-57 {
    margin-left: 57px !important;
}

.ml-58 {
    margin-left: 58px !important;
}

.ml-59 {
    margin-left: 59px !important;
}

.ml-43 {
    margin-left: 43px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-146 {
    margin-left: 146px !important;
}

.ml-415 {
    margin-left: 415px !important;
}

.ml-61 {
    margin-left: 61px !important;
}

.ml-65 {
    margin-left: 65px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-71 {
    margin-left: 71px !important;
}

.ml-74 {
    margin-left: 74px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-230 {
    margin-left: 230px !important;
}

.ml-205 {
    margin-left: 205px !important;
}

.ml-238 {
    margin-left: 238px !important;
}

.ml-82 {
    margin-left: 82px !important;
}

.ml-88 {
    margin-left: 88px !important;
}

.ml-85 {
    margin-left: 85px !important;
}

.ml-174 {
    margin-left: 174px !important;
}

.ml-778 {
    margin-left: 778px !important;
}

.ml-800 {
    margin-left: 800px !important;
}

.ml-858 {
    margin-left: 858px !important;
}

.ml-859 {
    margin-left: 858px !important;
}

.ml-880 {
    margin-left: 880px !important;
}

.ml-1000 {
    margin-left: 1000px !important;
}

.ml-1011 {
    margin-left: 1011px !important;
}

.ml-969 {
    margin-left: 969px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.m-5 {
    margin: 5px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml_3 {
    margin-left: -3px !important;
}

.ml_1 {
    margin-left: -1px !important;
}

.ml_22 {
    margin-left: -22px !important;
}

.ml_24 {
    margin-left: -24px !important;
}

.ml_40 {
    margin-left: -40px !important;
}

.ml_50 {
    margin-left: -50px !important;
}

.ml_60 {
    margin-left: -60px !important;
}

.ml_68 {
    margin-left: -68px !important;
}

.ml_5 {
    margin-left: -5px !important;
}

.ml_7 {
    margin-left: -7px !important;
}

.ml_10 {
    margin-left: -10px !important;
}

.ml_11 {
    margin-left: -11px !important;
}

.ml_12 {
    margin-left: -12px !important;
}

.ml_13 {
    margin-left: -13px !important;
}

.ml_15 {
    margin-left: -15px !important;
}

.ml_55 {
    margin-left: -55px !important;
}

.ml_17 {
    margin-left: -17px !important;
}

.ml_18 {
    margin-left: -18px !important;
}

.ml_19 {
    margin-left: -19px !important;
}

.ml_20 {
    margin-left: -20px !important;
}

.ml_23 {
    margin-left: -23px !important;
}

.ml_25 {
    margin-left: -25px !important;
}

.ml_81 {
    margin-left: -81px !important;
}

.ml_83 {
    margin-left: -83px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-7 {
    margin-right: 7px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr_5 {
    margin-right: -5px !important;
}

.mr_10 {
    margin-right: -10px !important;
}

.mr_15 {
    margin-right: -15px !important;
}

.mr_20 {
    margin-right: -20px !important;
}

.mt-1 {
    margin-top: 1px !important;
}

.mt-7 {
    margin-top: 7px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-6 {
    margin-top: 6px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.mt-20 {
    margin-top: 20px !important;
}


.mt_2 {
    margin-top: -2px !important;
}

.mt_5 {
    margin-top: -5px !important;
}

.mt_7 {
    margin-top: -7px !important;
}

.mt_10 {
    margin-top: -10px !important;
}

.mt_13 {
    margin-top: -13px !important;
}

.mt_15 {
    margin-top: -15px !important;
}

.mt_20 {
    margin-top: -20px !important;
}

.mt_32 {
    margin-top: -32px !important;
}

.mt_57 {
    margin-top: -57px !important;
}

.mt_70 {
    margin-top: -70px !important;
}

.mt_80 {
    margin-top: -80px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb_5 {
    margin-bottom: -5px !important;
}

.mb_10 {
    margin-bottom: -10px !important;
}

.mb_15 {
    margin-bottom: -15px !important;
}

.mb_20 {
    margin-bottom: -20px !important;
}


.round-5 {
    border-radius: 5px !important;
}

.round-10 {
    border-radius: 10px !important;
}

.round-15 {
    border-radius: 15px !important;
}

.round-20 {
    border-radius: 20px !important;
}

.round-50 {
    border-radius: 50px !important;
}


.underline {
    text-decoration: underline;
}

.fa-0_9x {
    font-size: 0.9em;
}

.fa-1_1x {
    font-size: 1.1em;
}

.fa-1_2x {
    font-size: 1.2em;
}

.fa-1_5x {
    font-size: 1.5em;
}

.fa-1_3x {
    font-size: 1.3em;
}

.bottom-sheet {
    min-height: 100% !important;
}

.cursor {
    cursor: pointer !important;
}

.destaque {
    color: #E00185;
}

.strong {
    font-weight: bold;
}

.round-right {
    border-radius: 0px 5px 5px 0px;
}

.round-left {
    border-radius: 5px 0px 0px 5px;
}

.html,
body {
    margin: 0px !important;
    padding: 0px !important;
    background: #ffab40
}

.container {
    height: 100vh !important;
    width: 100% !important;
    max-width: none !important;
    display: block;
}

#splash {
    display: block;
    background: #ffab40;
    height: 100vh !important;

}

#splashIndex {
    display: block;
    background: #ffab40;
    height: 121vh !important;

}

#btnConcedido {
    position: absolute;
    top: 275px;
    height: 60px;
    text-align: left;
    font-size: 24px;
    border-radius: 4px;
    left: 14%;
}

#more {
    position: relative;
    left: 38%;
}

#more2 {
    position: relative;
    left: 37%;
}

#more3 {
    position: relative;
    left: 60%;
}

#Modalidade {
    position: absolute;
    top: 216px;
    left: 14%;
}

#btnConceder {
    position: absolute;
    top: 350px;
    height: 60px;
    text-align: left;
    font-size: 24px;
    border-radius: 4px;
    left: 14%;
}

#btnBarter {
    position: absolute;
    top: 425px;
    height: 60px;
    text-align: left;
    font-size: 24px;
    border-radius: 4px;
    left: 14%;
}

#logo img {
    position: relative;
    top: 178px;
    width: 230px;
    left: 7%;
}

#btnLogin {
    position: absolute;
    top: 275px;
    height: 60px;
    font-size: 24px;
    border-radius: 4px;
    left: 14%;
}

#btnSenha {
    position: absolute;
    top: 350px;
    height: 60px;
    font-size: 24px;
    border-radius: 4px;
    left: 14%;
}

#btnEntrar {
    position: absolute;
    top: 425px;
    height: 60px;
    font-size: 24px;
    border-radius: 4px;
    left: 14%;
}

#logoTop img {
    position: relative;
    top: 65px;
    width: 230px;
    left: 7%;
}

#logoMenu {
    position: relative;
    width: 190px;

}

#btnNovoOrcamento {
    position: absolute;
    top: 275px;
    height: 60px;
    font-size: 24px;
    border-radius: 4px;
    left: 8%;
    text-align: left;
}

#btnLista {
    position: absolute;
    top: 350px;
    height: 60px;
    font-size: 24px;
    border-radius: 4px;
    left: 8%;
    text-align: left;
}

#btnMore {
    position: relative;
    left: 20%;
}

#btnMore2 {
    position: relative;
    left: 10%;
}

.card {
    height: 340px;
    border-radius: 8px !important;
}

#Região {
    border: 1px solid #333;
    border-radius: 6px;
    height: 44px;
}

#circle {
    color: #b2ff59;
}

#Situação {
    border: 1px solid #b2ff59;
    border-radius: 20px;
    height: 25px;
    position: relative;
    top: 5px;
}

#UP {
    color: #b2ff59;
}

#Down {
    color: red;
}

#span {
    color: #02ADA7;
    font-size: 13px;
    font-weight: bold;
}

#NovaCotacao {
    border-radius: 4px;
    height: 77px;
    width: 102px;
    left: -2%;
    position: relative;
}

#TodasCotacoes {
    border-radius: 4px;
    height: 77px;
    width: 102px;
    position: relative;
    left: 4%;
}

#VerClientes {
    border-radius: 4px;
    height: 77px;
    width: 102px;
    position: relative;
    right: -9%;
}

#hr1 {
    position: relative;
    top: 150px;
}

#hr2 {
    position: relative;
    top: 222px;
}

#AbaCliente {
    position: relative;
    border-radius: 4px;
    height: 45px;
    width: 60px;
    left: 3%;
}

#AbaLista {
    position: relative;
    border-radius: 4px;
    height: 45px;
    width: 55px;
    left: 0%;
}

#AbaProdutos {
    position: relative;
    border-radius: 4px;
    height: 45px;
    width: 55px;
    left: 0%;
}

#AbaResumo {
    position: relative;
    border-radius: 4px;
    height: 45px;
    width: 55px;
    left: 0%;
}

#AbaEnviar {
    position: relative;
    border-radius: 4px;
    height: 45px;
    width: 55px;
    left: 17%;
}

#Grão {
    border: 1px solid #333;
    border-radius: 6px;
    height: 44px;
    left: 6%;
    width: 315px;
    top: -4px;
}

#Silo {
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    height: 30px;
    position: relative;
    width: 94px;
    top: 10px;
    left: 2%;
}

#SiloBolsa {
    border: 1px solid #b2ff59;
    border-radius: 6px;
    height: 30px;
    position: relative;
    width: 94px;
    top: 10px;
    left: 8%;
}

#Nenhum {
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    height: 30px;
    position: relative;
    width: 94px;
    top: 10px;
    left: 13%;
}

#TelaLogin {
    position: relative;
    top: -50px;
}

#LogoPc {
    position: relative;
    top: 220px;
    left: 22%;

}

#LoginPc {
    display: block;
    height: 100vh !important;
    width: 50vw !important;
}

#RightPc {
    display: block;
    height: 100vh !important;
    width: 50vw !important;
    background: url(../img/bg.png) center no-repeat;
}

.formLoginParceiro {
    border-radius: 5px !important;
    height: 40px;
    position: relative;
    top: 240px;
    border: 1px solid #333;
}

.formLoginParceiro input {
    border-bottom: solid 1px transparent !important;
}

.formLoginParceiro input:focus {
    border-bottom: solid 1px transparent !important;
}

.btnEntrarParceiro {
    background: #ef6c00 !important;
    border-radius: 5px !important;
    height: 30px;
    text-transform: none;
}

.Cabeçalho {
    background: #fff3e0 !important;
    box-shadow: 0px 3px 7px #9e9e9e;
    height: 70px;
}

#LogoCabeçalho {
    position: relative;
    top: 18px;
    left: -9%;
    width: 180px;
}

#Options {
    position: relative;
    top: -4px;
}

#Avatar {
    border-radius: 37px;
    background: #81d4fa;
    height: 30px;
    width: 30px;
    position: relative;
    left: 93%;
    bottom: 5px;
}

#IconeAvatar {
    position: relative;
    left: -52%;
    top: 4px;
}

.ConsultaUsuario {
    background: #e0e0e0 !important;
    box-shadow: 0px 2px 7px #9e9e9e;
    height: 70px;
    height: 130px;
    top: -17px;
    position: relative;
}

#PesquisaUsuario {
    height: 22px;
    width: 235px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}

.IncluirUsuario {
    background: #eeeeee !important;
    height: 100vh;
    top: -14px;
    position: relative;

}

#EmailUsuario {
    height: 22px;
    width: 345px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: -20px;
    left: 2%;
}

#Email {
    position: relative;
    top: -19px;
    left: 2%;
}

#EmpresaUsuario {
    height: 22px;
    width: 210px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: -39px;
    left: 4%;
}

#Empresa {
    position: relative;
    top: -39px;
    left: 4%;
}

#SenhaUsuario {
    height: 22px;
    width: 144px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: -59px;
    left: 6%;
}

#Senha {
    position: relative;
    top: -58px;
    left: 6%;
}

#ConfirmarSenhaUsuario {
    height: 22px;
    width: 144px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: -78px;
    left: 8%;
}

#ConfirmarSenha {
    position: relative;
    top: -78px;
    left: 8%;
}

#btnMore {
    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: orange;
    position: relative;
    top: -80px;
    left: 124px;

}

#btnMore1 {
    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: orange;
    position: relative;
    top: -2px;
    left: 20px;
}

#CardPesquisa {
    position: relative;
    width: 1275px;
    height: 402px;
    left: 1%;
    top: -32px;
}

#btnStatus {
    border-radius: 3px;
    width: 65px;
    height: 21px;
    background: #e0e0e0;
    position: relative;
    top: 1px;
    left: 269px;
}

#btnStatus2 {
    border-radius: 3px;
    width: 65px;
    height: 21px;
    background: greenyellow;
    position: relative;
    top: 1px;
    left: 269px;
}

#RodaPe {
    position: relative;
    width: 1275px;
    height: 40px;
    left: 1%;
    top: -15px;
    background: #e0e0e0;
}

#CardCampanha {
    position: relative;
    width: 1275px;
    height: 402px;
    left: 1%;
    top: -90px;
}

#Divisao {
    position: relative;
    width: 1273px;
    left: -20.5px;
    top: 7%;
}

#DataLista {
    height: 22px;
    width: 143px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}

#ListaPreco {
    height: 22px;
    width: 210px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: 0px;
    left: 3%;
}

#Lista {
    position: relative;
    top: -19px;
    left: 3%;
}

#btnMore2 {
    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: orange;
    position: relative;
    top: -22px;
    left: 54px;
}

#btnStatusPreco {
    border-radius: 3px;
    width: 65px;
    height: 21px;
    background: #e0e0e0;
    position: relative;
    top: 1px;
    left: 346px;
}

#btnStatusPreco2 {
    border-radius: 3px;
    width: 65px;
    height: 21px;
    background: greenyellow;
    position: relative;
    top: 1px;
    left: 346px;
}

.NovaLista {
    background: #e0e0e0 !important;
    height: 70px;
    height: 330px;
    top: -17px;
    position: relative;
}

#Pontualidade {
    height: 22px;
    width: 155px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: 0px;
    left: 3%;
}

#CardNovaLista {
    position: relative;
    width: 1336px;
    height: 402px;
    left: 1%;
    top: -88px;
}

#RodaPeNovaLista {
    position: relative;
    width: 1336px;
    height: 40px;
    left: 13.5px;
    top: 89px;
    background: #fff3e0;
}

#btnSave {
    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: orange;
    position: relative;
    top: 8px;
    left: 91%;
}

#btnPrint {
    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: orange;
    position: relative;
    top: -16px;
    left: 94%;
}

#btnCheck {

    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: greenyellow;
    position: relative;
    top: -40px;
    left: 97%;
}

.ConsultarProduto {
    background: #e0e0e0 !important;
    height: 70px;
    height: 150px;
    top: -17px;
    position: relative;
    box-shadow: 0px 2px 7px #9e9e9e;
}

#CardProduto {
    position: relative;
    width: 1314px;
    height: 402px;
    left: 1%;
    top: 3px;
}

#btnStatusProduto {
    border-radius: 3px;
    width: 65px;
    height: 21px;
    background: #e0e0e0;
    position: relative;
    top: 1px;
    left: 764px;
}

#btnStatusProduto2 {
    border-radius: 3px;
    width: 65px;
    height: 21px;
    background: greenyellow;
    position: relative;
    top: 1px;
    left: 764px;
}

#RodaPeProduto {
    position: relative;
    width: 1314px;
    height: 40px;
    left: 1%;
    top: 46px;
    background: #9e9e9e;
}

.cardModal {
    background-size: cover;
    height: 110vh;
    width: 100vw;
}

.cardModal .cardModalProduto {
    position: relative;
    border: 1px solid #000;
    height: 627px;
    top: 6%;
    background-color: #eeeeee;
    border-radius: 15px !important;
    left: calc(50% - 300px);
    width: 600px;
}

#ProdutoModal {
    position: relative;
    top: 16px;
    left: 7%;
    font-size: 16px;

}

#PesquisaProdutoModal {
    height: 24px;
    width: 511px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: 16px;
    left: 7%;
}

#EmpresaModal {
    position: relative;
    top: -2px;
    left: -1%;
    font-size: 16px;
}

#PesquisaEmpresaModal {
    height: 24px;
    width: 479px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    position: relative;
    top: -1px;
    left: -1%;
}

#btnSaveModal {
    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: orange;
    position: relative;
    top: 12px;
    left: 95%;
}

#btnMoreCamp {
    border-radius: 6px;
    width: 28px;
    height: 24px;
    background: orange;
    position: relative;
    top: -1px;
    left: 21px;
}

#PesquisaName {
    height: 22px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}

#PesquisaData {
    height: 22px;
    width: 155px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}

#PesquisaEmpresa {
    height: 22px;
    width: 199px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}

#ProdutoDriver {
    height: 22px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}